@page "/login"
@using SpotifyAPI.Web
@inject NavigationManager navManager
@inject IConfiguration _config

<header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1 class="h1-large"><span class="replace-me">M</span>ood<span class="replace-me">M</span>edia</h1>
                            <p class="p-large">An interactive website, that plays your music based on the current weather!</p>
                            <div class="text-box mt-5 mb-5">
                                <p class="mb-4 text-muted">You need a <a class="blue" href="http://www.spotify.com">spotify</a> login to use this service.</p>
                                <button type="submit" class="form-control-submit-button mt-4" @onclick="Authenticate" >Log in</button>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="images/undraw_moodmedia.svg" alt="alternative">
                        </div>
                    </div> 
                </div>
            </div>
        </header>


@code {
    private async Task Authenticate()
        {
            var baseUri = navManager.ToAbsoluteUri(navManager.BaseUri);
            LoginRequest loginRequest = await Task.FromResult(new LoginRequest(baseUri, _config["clientId"], LoginRequest.ResponseType.Token));

            navManager.NavigateTo(loginRequest.ToUri().ToString(), true);
        }

}