@inherits LayoutComponentBase

<PageTitle>MoodMedia</PageTitle>

<div class="page p-0 m-0">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row p-0 m-0">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-0 m-0">
            @Body
        </article>
    </main>
</div>
