@inherits LayoutComponentBase

<PageTitle>MoodMedia</PageTitle>

   <header>
        <NavMenu />
    </header>
<div class="page p-0 m-0">

    <main>
        <article class="content px-0 m-0">
            @Body
        </article>
    </main>
</div>
