<nav class="navbar navbar-expand-lg navbar-transparent px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="h1-large"><span class="replace-me">M</span>ood<span class="replace-me">M</span>edia</h1>
                </a>
                    <ul class="navbar-nav ms-auto" @click="profileButton">
                      <li class="nav-item">
                      <div class="dropstart">
                      <button class="btn dropdown-toggle" id="profileSettings" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/images/UIElements/profile_pic.svg" class="avatar" />
                      <img
                        src="./images/UIElements/caret-down-fill.svg"
                        style="width: 15px; height: 15px"
                      />
                      </button>
                      </div>
                       </li>
                      </ul>
                      <ul class="dropdown-menu" aria-labelledby="profileSettings">
                        <li><a @click="getPlaylistSettings()" class="dropdown-item" href="#">Playlist settings</a></li>
                        <li><a @click="logout()" class="dropdown-item" href="#">Logout</a></li>
                      </ul>
     </nav>
                      @*TODO: Create dropdown functionality*@